@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
    --color-white: hsl(0, 0%, 100%);

    --color-300: hsl(212, 45%, 89%);
    --color-500: hsl(216, 15%, 48%);
    --color-900: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    background-color: var(--color-300);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
    max-width: 320px;
    background-color: var(--color-white);
    border-radius: 1rem;
    margin: 0;
    padding: 1rem 1rem 2.5rem 1rem;
    box-sizing: border-box;
}

.card img {
    max-width: 288px;
    max-height: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
    box-sizing: content-box;
}

.card .texts {
    text-align: center;
    padding: 0 1rem;
}

.title-text {
    line-height: 120%;
    font-size: 1.375rem;
    color: var(--color-900);
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 16px;
}

.description {
    line-height: 140%;
    font-size: 0.938rem;
    color: var(--color-500);
    letter-spacing: 0.2px;
    word-break: normal;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
